@keyframes shimmmerrr {
    0%      {filter: blur(0.5px); -webkit-filter: blur(0.5px);}
    25%      {filter: blur(0.2px); -webkit-filter: blur(0.5px);}
    50%     {filter: blur(0.3px); -webkit-filter: blur(0.5px);}
    75%      {filter: blur(0.4px); -webkit-filter: blur(0.5px);}
    100%    {filter: blur(0.6px); -webkit-filter: blur(0.5px);}
  }

@keyframes shuffffle {
    0%{ transform: translate(-2px, -1px)}
    40%{ transform: translate(2px, 0px)}
    60%{ transform: translate(-2px, 2px)}
    100%{ transform: translate(-2px, -1px)}
}

body{
    margin: 0;
    font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, sans-serif;
    font-size: 11pt;
    background: #fff;
    color: black;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

* {
    filter: blur(0.4px);
    -webkit-filter: blur(0.4px) !important;
}

b, i, button {
    animation-name: shimmmerrr;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

a { color: inherit; }

.topbar{
    background: white;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px dotted black;
    z-index: 3;
    transition: 1s;
}

#fright{
    display: none;
    float: right;
    margin-right: 30px;
}

.video_selector{
    height: 100px;
    width: 100px;
    background-image: url('dotheart.png');
    background-color: transparent;
    background-size: 100px 90px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
    border: none;
    margin: 0 0 10px 0;
    animation-name: shuffffle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.video_selector:hover{
    animation-name: shuffffle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.video_selector:nth-of-type(even){
    animation-direction: reverse;
}

#return_button, #log_button, #map_button, #repos_button{
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

.container{
    width: 100%;
    padding: 10vh 10vw 0 10vw;
}

.main_menu{
    max-width: 500px;
}

.play_window{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('frames/frame\ \(10\).jpeg');
    background-size: 70vw 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    z-index: 2;
    opacity: 0;
    display: flex;
    transition: 1s;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#log{
    position: absolute;
    top: 100px;
    left: 80px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: white;
    border: 1px dotted black;
    z-index: 3;
    opacity: 0;
    display: block;
    transition: 1s;
    pointer-events: none;
    overflow-y: scroll;
}

#map{
    position: absolute;
    bottom: 100px;
    left: 80px;
    width: 600px;
    height: 358px;
    padding: 10px;
    background-image: url('map.jpg');
    background-size: cover;
    background-position: center;
    border: 1px dotted black;
    z-index: 3;
    opacity: 0;
    display: block;
    transition: 1s;
    pointer-events: none;
    overflow-y: scroll;
}

#map_img{
    width: inherit;
}

.dove{
    position: relative;
    cursor: pointer;
}

#us{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: white;
    border: 1px dotted black;
    z-index: 10;
    opacity: 0;
    display: block;
    transition: 1s;
    pointer-events: none;
    overflow-y: scroll;
}

#eu{
    position: absolute;
    top: 150px;
    left: 400px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: white;
    border: 1px dotted black;
    z-index: 10;
    opacity: 0;
    display: block;
    transition: 1s;
    pointer-events: none;
    overflow-y: scroll;
}

#aus{
    position: absolute;
    top: 200px;
    left: 600px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: white;
    border: 1px dotted black;
    z-index: 10;
    opacity: 0;
    display: block;
    transition: 1s;
    pointer-events: none;
    overflow-y: scroll;
}

#i_player, #v_player{
    width: 100vw;
    max-width: 45vw;
    height: 50vh;
    min-height: 400px;
    border: none;
    display: none;
    background: none;
}

.stars{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: -100;
}

.draggable:active{
    transition: none !important;
    -moz-transition: none !important;
}